<launch>

  <node name="edroneclient" type="edroneclient" pkg="edrone_client"/>
  <node name="drone_teleop" type="drone_teleop.py" pkg="edrone_server" output="screen" />

  <!-- Node for connecting multiple plutos -->
  <!-- <node name="edroneswarm" type="edroneswarm" pkg="edrone_client"/> -->

  <!-- Node for connecting to pluto camera -->
  <!-- <node name="edronecam" type="edronecam" pkg="edrone_client"/> -->

</launch>
