<launch>

  <node name="edroneserver" type="edroneserver" pkg="edrone_server"/>
  <node name="key_handling" type="key_handling.py" pkg="edrone_server"/>
  <node name="key_command" type="key_command.py" pkg="edrone_server"/>

  <!-- Node for connecting multiple plutos -->
  <!-- <node name="droneswarm" type="droneswarm" pkg="edrone_client"/> -->

  <!-- Node for connecting to pluto camera -->
  <!-- <node name="dronecam" type="dronecam" pkg="edrone_client"/> -->

</launch>
