<launch>

  <node name="droneserver" type="droneserver" pkg="drone_server"/>
  <node name="key_handling" type="key_handling.py" pkg="drone_server"/>
  <node name="key_command" type="key_command.py" pkg="drone_server"/>

  <!-- Node for connecting multiple plutos -->
  <!-- <node name="plutoswarm" type="plutoswarm" pkg="plutodrone"/> -->

  <!-- Node for connecting to pluto camera -->
  <!-- <node name="plutocam" type="plutocam" pkg="plutodrone"/> -->

</launch>
